<a href="https://colab.research.google.com/github/ReemHossain/python_codes/blob/main/B2_CT_2_18101100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a python program to calculate the grade of an exam. The exam mark will be given as input. Follow the UAP rule for grading

In [ ]:
mark=float( input() )

if 80<= mark <=100 :
  print("A+")
elif 75<= mark <=80 :
  print("A")
elif 70<= mark <=75 :
  print("A-")
elif 75<= mark <=80 :
  print("B+")
elif 60<= mark <=65 :
  print("B")
elif 55<= mark <=60 :
  print("B-")
elif 50<= mark <=55 :
  print("C+")
elif 45<= mark <=50 :
  print("C")
elif 40<= mark <=45 :
  print("D")
else :
  print("F")

74
A-

2. Write a python code to determine negative or non-negative.

In [ ]:
number=int( input() )
if number>=0:
  print("Non-negative")
else:
  print("Negative")

1
Non-negative

3. Given a list of 5 elements, swap two values of specified index.

In [ ]:
a=int(input("Element 1: ") )
b=int( input("Element 2: ") )
c=int( input("Element 3: ") )
d=int( input("Element 4: ") )
e=int( input("Element 5: ") )

index1=int( input("Index 1: ") )
index2=int( input("Index 2: ") )

List=[a,b,c,d,e]

temp = List[index1]
List[index1] = List[index2]
List[index2] = temp

print(List)

Element 1: 10
Element 2: 5
Element 3: 100
Element 4: 4
Element 5: 6
Index 1: 2
Index 2: 4
[10, 5, 6, 4, 100]

5. Choose variables of appropriate data type to store the following information where you can search information about an employee with their EmpID.

In [ ]:
Employee_d = {
    "77920" : {
        "EmpID" : 77920,
        "LastName" : "Jackson",
        "FirstName": "Stephen",
        "HireDate": "11-29-1997"
    },

    "77921" : {
        "EmpID" : 77921,
        "LastName" : "Reynolds",
        "FirstName": "Sandy",
        "HireDate": "01-04-1993"
  },

  "77922" : {
        "EmpID" : 77922,
        "LastName" : "Armstrong",
        "FirstName": "Stephen",
        "HireDate": "09-16-1989"
  },

  "77923" : {
        "EmpID" : 77923,
        "LastName" : "Jackson",
        "FirstName": "Linda",
        "HireDate": "10-09-1996" 
    }
}